.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
}

nav .nav-selected {
  background: rgba(0, 0, 0, 0.1);
}

nav .mat-icon {
  margin-right: 0.4rem;
}

.example-spacer {
  flex: 1 1 auto;
}
