<mat-card>
  <mat-card-content>
    <mat-card-title>Multi File Upload</mat-card-title>
    <input #fileInput type="file" (change)="onFileSelected($event)" multiple />
    <button
      color="primary"
      mat-raised-button
      (click)="onUpload()"
      [disabled]="!selectedFiles.length"
    >
      Upload
    </button>
  </mat-card-content>
</mat-card>

<mat-selection-list #files>
  @for (file of uploadedFiles; track file) {
  <mat-list-option>{{ file }}</mat-list-option>
  }
</mat-selection-list>

<p>Options selected: {{ files.selectedOptions.selected.length }}</p>
